root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,rpgproject}]
trim_trailing_whitespace = false

[*.{png,jpg,jpeg,gif,webp,ogg,m4a,mp3,wav,ttf,otf,woff,woff2,rpgsave,rpgmvp,rpgmvo,rpgmvm}]
insert_final_newline = false
trim_trailing_whitespace = false
